- var i = 0;

.slider__banner
  .slider__banner-wrapper
    while i < 5
      .slider__banner-slide(style='background-image: url(../../../../assets/img/slider/slider-main-bg.jpg)', data-index=i++)
        .slider__banner-slide--container
          .slider__banner-slide--row
            h1.header__h1.slider__banner-text
              | Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit.
  .slider__banner-pagination
