block variables

.card__news-wrapper
  while i < j
    .card__news(data-index=i++)
      .card__news-body
        .card__news-head
          img.card__news-img(src="../../../../assets/img/news.jpg", alt="")
        .card__news-info
          p.card__news-date.text__small 23 марта 2020 года
          p.card__news-header.text__big Where To Look For Cheap Brochure Printing
          p.card__news-descr.text__reular Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst lobortis ullamcorper sed tincidunt arcu. Libero placerat ultrices mauris auctor faucibus.
          a.btn.card__news-btn(href="#") Читать далее
