@import "utils/vars";
@import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/typography";

// @import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-style: normal;
  color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    padding-right: 16px;
    overflow: hidden;

    @include media-breakpoint-down("md") {
      padding-right: unset;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  &:hover {
    cursor: default;
  }
}

a {
  text-decoration: none;
}

input,
button {
  &:focus {
    outline: none;
  }
}

// Modules:
// example: @import "modules/my-module.scss";
@import "./modules/header";
@import "./modules/footer";
@import "./modules/fast-links";
@import "./modules/breadcrumbs";
@import "./modules/pagination";
@import "./components/slider/slider__banner";
@import "./components/screen/screen__index-about";
@import "./components/screen/screen__index-news";
@import "./components/cards/card__news";
@import "./components/cards/card__link";
@import "./components/screen/screen__banner";
@import "./components/screen/screen__news";
@import "./components/screen/screen__corporation";
@import "./components/cards/card__person";
