block variables
  - var cards = [{"name":"Шривастава Девеш","regalia":"Председатель Совета директоров Компании", "regalia2":"Председатель Совета директоров и Управляющий директор GIC Re (Мумбай)"},{"name":"Бхатнагар Рина","regalia":"Член Совета директоров Компании", "regalia2":"Главный управляющий GIC Re (Мумбай)"},{"name":"Мокаши Санджей","regalia":"Член Совета директоров", "regalia2":"Генеральный директор ООО «ДжиАйСи Перестрахование»"},];
  - var cardsAlt = [{"name":"Мокаши <br><span>Санджей Васант</span>","regalia":"Генеральный директор"},{"name":"Гармаш <br><span>Дмитрий Владимирович</span>","regalia":"Главный операционный директор"},{"name":"Головина<br><span>Ольга Сергеевна</span>","regalia":"Главный бухгалтер"},];

section.screen__corporation
  .container
    .row
      .col-12
        h2.header__h2 корпоративное управление
      .col-lg-10.col-12p-0.offset-lg-1
        p.paragraph Согласно Уставу ООО «ДжиАйСи Перестрахование», основными органами корпоративного управления Компании являются:
        br
        ol.screen__corporation-list
          li Общее собрание участников
          li Совет директоров
          li Генеральный директор
        br
        p.paragraph Общее собрание участников представлено единственным 100%-м участником (учредителем) – General Insurance Corporation of India (GIC Re).
        p.paragraph Совет директоров состоит из 3 членов, назначаемых Общим собранием участников. Действующий состав Совета директоров компании (в соответствии с Решением единственного участника ООО «ДжиАйСи Перестрахование» от 21.09.2019):
        include ../cards/card__person
        p.paragraph Руководство ООО «ДжиАйСи Перестрахование»:
        include ../cards/card__person-alt
