block variables
  - var table = [{"name":"Лицензия ПС № 4375 на осуществление перестрахования от 30.01.2020","type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"},{"name":"Свидетельство о постановке на учет в налоговом органе","type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"},{"name":"Лист записи Единого государственного реестра юридических лиц (ЕГРН) о создании юридического лица","type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"},{"name":"Список акционеров (участников) и лиц, под контролем либо значительным влиянием которых находится Общество","type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"},{"name":"Схема взаимосвязей акционеров (участников) и лиц, под контролем либо значительным влиянием которых находится Общество","type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"},{"name":"Реестр агентов и брокеров (Общество не имеет действующих договоров с агентами и брокерами)","type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"},{"name":"Сводная ведомость результатов проведения специальной оценки условий труда в 2019 году и Перечень рекомендуемых мероприятий по улучшению условий труда", "type":"svg","details":"1,5 мб  Загружено 20.12.2020 г. 12:12"}];

section.screen__corporation
  .container
    .row
      .col-12
        h2.header__h2 Раскрытие информации
      .col-lg-10.col-12p-0.offset-lg-1
        p.paragraph Полное наименование: Общество с ограниченной ответственностью “ДЖИАЙСИ ПЕРЕСТРАХОВАНИЕ”
        p.paragraph Сокращенное наименование: ООО “ДЖИАЙСИ ПЕРЕСТРАХОВАНИЕ”
        p.paragraph ОГРН 1187746936783 от 14.11.2018
        p.paragraph ИНН 7704465140
        p.paragraph КПП 771001001
        p.paragraph ОКВЭД 65.20
        p.paragraph Юридический адрес: 123056, г. Москва, ул.Гашека, д.7, стр.1, этаж 6, помещение I, комн. 21
        p.paragraph Почтовый адрес: 123056, г. Москва, ул. Гашека, д. 7, стр. 1, БЦ “Дукат Плейс II”, 6 этаж, офис 610
        p.paragraph Телефон: +7 (499) 657-5510
        p.paragraph Электронная почта: info@gicre.ru
        p.paragraph Официальный сайт: www.gicre.ru
        p.paragraph Орган надзора: Центральный банк Российской Федерации (ЦБ РФ, официальный сайт: www.cbr.ru)
  include ../../modules/table
