block variables
  - var i = 0;
  - var j = 12;

section.screen__news
  .container
    .row
      .col-12
        h2.header__h2 Новости
    include ../cards/card__news
    include ../../modules/pagination
