block variables
  - var cards = [{"name":"Мехул Джаисвал","regalia":"Директор по урегулированию убытков"},];

section.screen__corporation
  .container
    .row
      .col-12
        h2.header__h2 Урегулирование убытков
      .col-lg-10.col-12p-0.offset-lg-1
        p.paragraph Урегулирование убытков осуществляется ООО “ДжиАйСи Перестрахование” в соответствии и наивысшими международными  стандартами и на базе огромного опыта, накопленного GIC Re за более чем 35 лет активной перестраховочной деятельности по всему миру.
        br
        p.paragraph Внутренние стандарты Компании предполагают самое оперативное и профессиональное сопровождение урегулирования.
        include ../cards/card__person
