block variables
  - var cards = [{"name":"Ишан Сомаия","regalia":"Главный андеррайтер неморского направления"},{"name":"Йогеш Кумар","regalia":"Главный андеррайтер морского направления",}];

section.screen__corporation
  .container
    .row
      .col-12
        h2.header__h2 Линии бизнеса
      .col-lg-10.col-12p-0.offset-lg-1
        p.paragraph Сфера деятельности – полный спектр факультативного и облигаторного перестрахования в разрезе всех основных линий бизнеса «не-жизни», включая:
        br
        ul.list.screen__index-about__list
          li <span>•</span>имущество
          li <span>•</span>строительно-монтажные и иные технические риски
          li <span>•</span>средства воздушного транспорта
          li <span>•</span>средства водного транспорта
          li <span>•</span>грузоперевозки
          li <span>•</span>общегражданскую и профессиональную ответственность
          li <span>•</span>специализированные профессиональные риски
        br
        p.paragraph Сегменты бизнеса в ООО “ДжиАйСи Перестрахование” разделены на 2 основных направления: морское (грузоперевозки, средства водного транспорта, авиация, оффшорная энергетика) и неморское (имущество, строительно-монтажные и техническое риски, ответственность), в рамках которых компания принимает риски как на факультативной, так и на облигаторной основе.
        br
        p.paragraph Внутренние стандарты Компании предполагают самую оперативную реакцию на запросы клиентов.
        br
        p.paragraph Действующие емкости по входящему перестрахованию предлагаются Компанией для рисков из России и стран территории пост-советского пространства: Беларуси, Украины, Грузии, Армении, Азербайджана, Узбекистана, Туркменистана, Таджикистана, Молдовы, Казахстана и Киргизии
        include ../cards/card__person
