block variables

section.screen__banner(style="background-image:" + banner)
  .container
    .row
      include ../../modules/breadcrumbs
      h2.header__h1
        | Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit.
