section.screen__banner(style="background-image: url('../../../../assets/img/slider/slider-main-bg.jpg')")
  .container
    .row
      h2.header__h1
        | Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit.
