section.screen__index-about
  .container
    .row
      .col-10.p-0.offset-1
        h2.header__h2 О компании
      .col-10.p-0.offset-1
        p.paragraph.screen__index-about__descr <span>ООО «ДжиАйСи Перестрахование»</span> было создано 14 ноября 2018 года как 100%-я дочерняя компания General Insurance Corporation of India (GIC Re) - государственной перестраховочной корпорации Республики Индия и одного из крупнейших перестраховщиков в мире.
        p.paragraph.screen__index-about__descr Создание компании является шагом на пути дальнейшего развития и укрепления позиций GIC Re на перестраховочных рынках России и стран пост-советского пространства, где корпорация активно работала с 2002 года, когда было открыто Представительство в г. Москве. За прошедшие годы постоянными партнерами GIC Re по перестрахованию «не-жизни» стали все ведущие страховые и брокерские компании региона.
        p.paragraph.screen__index-about__descr <span>ООО «ДжиАйСи Перестрахование»</span> действует на основании Лицензии ПС № 4375 на осуществление перестрахования, выданной ЦБ РФ 30.01.2020. Уставный капитал Компании составляет 600 млн рублей.
        p.screen__index-about__descr Сфера деятельности – полный спектр факультативного и облигаторного перестрахования в разрезе всех основных линий бизнеса «не-жизни».
        p.paragraph.screen__index-about__descr В своей деятельности ООО «ДжиАйСи Перестрахование» стремится к сохранению и расширению долговременных партнерских отношений с региональными рынками и опирается на солидный капитал, высокую финансовую устойчивость, неограниченную поддержку материнской компании, узнаваемый брэнд, а также известную на рынке команду, качественные бизнес-процессы и высокопрофессиональный андеррайтинг.
        <br>
        p.paragraph.screen__index-about__descr <span>Ценности ООО «ДжиАйСи Перестрахование» базируются на постулатах GIC Re:<span>
        <br>
        p.paragraph.screen__index-about__descr <strong>Видение:</strong> Лидирующий региональный перестраховщик
        <br>
        p.paragraph.screen__index-about__descr <strong>Миссия:</strong> Оказание первоклассных перестраховочных услуг всему региональному рынку с позиций построения долгосрочных взаимовыгодных отношений с партнерами на базе современной деловой этики и практики с применением всех современных перестраховочных технологий и продуктов.
        p.paragraph.screen__index-about__descr <strong>Ключевые ценности:</strong>
        ul.list.screen__index-about__list
          li <span>•</span>Взаимное доверие и уважение
          li <span>•</span>Высокое качество услуг и профессионализм
          li <span>•</span>Единство и прозрачность всех процессов
          li <span>•</span>Оперативность и  ответственность
        button.btn.screen__index-about__button Подробнее о компании
