.card__link {
  @include make-col(3);
  @include make-col-ready();

  &-wrapper {
    @include make-row();
  }

  &-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px 10px;
  }

  &-header,
  &-text {
    color: #fff;
  }

  &-header {
    margin-bottom: 6px;
  }

  &-btn {
    position: absolute;
    bottom: 0;
    max-width: 80px;
    border-color: #fff;
    color: #fff;
    background-color: transparent;

    &:hover {
      color: #fff;
    }
  }
}
