.card__link {
  @include make-col(3);
  @include make-col-ready();

  &::after {
    position: absolute;
    top: 10px;
    right: 0px;
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: rgba($color: #fff, $alpha: .15);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @include media-breakpoint-down('lg') {
    @include make-col(12);

    &::after {
      display: none;
    }
  }

  &-wrapper {
    @include make-row();
  }

  &-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px 10px 38px;
  }

  &-header,
  &-text {
    color: #fff;
  }

  &-header {
    margin-bottom: 6px;
  }

  &-btn {
    position: absolute;
    bottom: 0;
    max-width: 80px;
    border-color: #fff;
    color: #fff;
    background-color: transparent;

    &:hover {
      color: #fff;
    }
  }
}
