.screen {
  &__index {
    &-news {
      padding: 28px 36px;
      background: #F6F6F6;

      @include media-breakpoint-down('md') {
        padding-left: 0;
        padding-right: 0;
      }

      h2 {
        margin-bottom: 36px;
        color: #164194;
      }
    }
  }
}
