footer.footer
  .container
    .row
      img(src="../../../assets/img/logo-footer.png", alt="").footer__logo
      .footer__address
        p.text__semibig.footer__address-header Адрес офиса:
        p.text__med.footer__address-text ООО “ДжиАйСи Перестрахование”
        p.text__med.footer__address-text 123056, г. Москва, ул. Гашека, д. 7, стр. 1<br>Бизнес центр “Дукат Плейс II”, 6 этаж, офис 610
        p.text__med.footer__address-text Тел.: <a href="tel:+74996575510">+7 (499) 657-5510</a>
        p.text__med.footer__address-text Эл. почта: <a href="mailto:info@gicre.ru">info@gicre.ru</a>
        p.text__med.footer__address-text Режим работы: Пн-Пт 09:30-18:00
      .footer__links
        .footer__links-block
          p.text__semibig.footer__links-block__header О компании
          ul.footer__links-block__list
            li.text__med <a href="#">Общая информация</a>
            li.text__med <a href="#">Корпоративное управление</a>
            li.text__med <a href="#">Раскрытие информации</a>
            li.text__med <a href="#">О GIC Re</a>
            li.text__med <a href="#">Контакты</a>
        .footer__links-block-wrapper
          .footer__links-block
            p.text__semibig.footer__links-block__header Перестрахование
            ul.footer__links-block__list
              li.text__med <a href="#">Линии бизнеса</a>
              li.text__med <a href="#">Урегулирование убытков</a>
          .footer__links-block
            p.text__semibig.footer__links-block__header Финансы
            ul.footer__links-block__list
              li.text__med <a href="#">Рейтинги</a>
              li.text__med <a href="#">Отчетность</a>
        .footer__links-block-wrapper
          .footer__links-block
            p.text__semibig.footer__links-block__header Пресс-центр
            ul.footer__links-block__list
              li.text__med <a href="#">Новости</a>
              li.text__med <a href="#">Публикации</a>
          .footer__links-block
            a.text__semibig.footer__links-block__header(href="#") Карта сайта
          .footer__links-block
            a.text__semibig.footer__links-block__header(href="#") Версия для<br> слабовидящих
.footer__bottom
  .container
    .row
      .col-3
        p.text__small.footer__bottom-text Name, license, year, copyright
      .col-3
        p.text__small.text-center.footer__bottom-text Последнее обновление: 30.03.2020 г. 12:12
      .col-3
        a.text__small.text-center.footer__bottom-text(href="#") Политика обработки персональных данных
      .col-3
        a.text__small.text-right.footer__bottom-text(href="#") Разработка сайта - Soft Media Group
