extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Business page';
  - var pageClass = 'business-page';

block content
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__business
  include ../includes/modules/fast-links
