extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Contacts page';
  - var pageClass = 'contacts-page';

block content
  include ../includes/components/screen/screen__contacts
