extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Contacts page';
  - var pageClass = 'contacts-page';

block content
  - var banner = "url('/assets/img/banner__contacts.jpg')";
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__contacts
