extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Corporation page';
  - var pageClass = 'corporation-page';

block content
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__corporation
  include ../includes/modules/fast-links
