extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Main page';
  - var pageClass = 'index-page';

block content
  include ../includes/components/screen/screen__index-main
