extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Information page';
  - var pageClass = 'information-page';

block content
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__information
  include ../includes/modules/fast-links
