extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Losses page';
  - var pageClass = 'losses-page';

block content
  - var banner = "url('/assets/img/banner__losses.jpg')";
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__losses
  include ../includes/modules/fast-links
