extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'News page';
  - var pageClass = 'news-page';

block content
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__news-standalone
