extends ../layout/index

block variables
  - var title = 'GIC Re';
  - var description = 'Main page';
  - var pageClass = 'index-page';

block content
  - var banner = "url('/assets/img/banner__news-standalone.jpg')";
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__news
