.header {
  &__h1 {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 135%;
    text-transform: uppercase;

    @include media-breakpoint-down("md") {
      font-size: 25px;
      line-height: 32px;
    }
  }

  &__h2 {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  &__h3 {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }
}

.paragraph {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.text {
  &__small {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
  }

  &__med {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
  }

  &__semibig {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
  }

  &__big {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
  }

  &__regular {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }
}

.list {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;

  li {
    display: flex;
    align-items: center;

    span {
      display: block;
      color: #164194;
      margin-right: 6px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 180px;
  padding-top: 5px;
  padding-bottom: 7px;
  border: 1px solid #164194;
  border-radius: 0px;
  background: #fff;
  @extend .text__small;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
