.footer {
  padding: 50px 0 35px;
  background: #333333;

  &__logo {
    @include make-col(1);
    @include make-col-ready();
    display: block;
    width: 100%;
    height: 100%;
  }

  &__address {
    @include make-col(3);
    @include make-col-ready();

    &-header {
      color: #fff;
    }

    &-text {
      color: #fff;

      a {
        color: #fff;

        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  &__links {
    @include make-col(8);
    @include make-col-ready();
    display: flex;
    justify-content: space-evenly;

    &-block {
      &__header {
        display: block;
        color: #fff;
        margin-bottom: 14px;

        &:hover {
          color: #fff;
        }
      }

      &__list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 14px;

        li {
          margin-bottom: 8px;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  &__bottom {
    background: #0D296A;
    padding: 15px 0;

    &-text {
      display: block;
      color: #fff;
      margin-bottom: 0;

      &:hover {
        color: #fff;
      }
    }
  }
}
