.header {
  &__top {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    @include media-breakpoint-down("xl") {
      padding: 11px 0 9px;
    }
  }

  &__bottom {
    padding: 12px 0 21px;

    @include media-breakpoint-down("xs") {
      padding-left: $gutter/2;
      padding-right: $gutter/2;
    }
  }

  &__navbar {
    @include make-row();
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    @include media-breakpoint-down("xl") {
      @include make-container();
      @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
      flex-direction: column;
    }

    &-item {
      position: relative;
      padding: 11px 20px 9px 0;

      @include media-breakpoint-down("xl") {
        @include make-row();
        margin: 8px 0;
        padding: 0;
      }

      svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include media-breakpoint-down("xl") {
          display: none;
        }
      }
    }

    &-link {
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 135%;
      color: #000000;
      text-decoration: none;

      &.is-active,
      &:hover {
        text-decoration: underline;
        color: #164194;

        ~ svg {
          path {
            stroke: #164194;
          }
        }
      }
    }

    &-dropdown {
      &__menu {
        position: absolute;
        top: 44px;
        left: 0;
        display: none;
        flex-direction: column;
        width: auto;
        background: #fff;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
        z-index: 5;

        @include media-breakpoint-down("xl") {
          position: relative;
          top: 0;
          display: flex;
          width: 100%;
          box-shadow: unset;
        }

        &.is-active {
          display: flex;
        }

        &-link {
          display: block;
          width: 100%;
          min-width: 220px;
          padding: 10px 17px 11px;
          font-family: Tahoma;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 135%;
          color: #000;

          &:hover {
            text-decoration: none;
            color: #fff;
            background-color: #164194;
          }
        }
      }
    }
  }

  &-collapse {
    @include make-col(7);
    @include make-col-ready();
    display: flex;
    align-items: center;

    @include media-breakpoint-down("xl") {
      display: none;

      &.is-active {
        position: fixed;
        top: 52px;
        left: 0;
        display: block;
        background: #fff;
        width: 100vw;
        max-width: unset;
        height: 100vh;
        z-index: 9999;
        overflow-y: auto;
      }
    }

    .header__controls {
      display: none;

      @include media-breakpoint-down("xs") {
        display: flex;
        margin-top: 16px;
      }
    }
  }

  &__search {
    position: relative;
    width: 100%;
    max-width: 285px;

    @include media-breakpoint-down("xs") {
      max-width: 220px;
    }

    &-input {
      display: block;
      width: 100%;
      max-width: 285px;
      margin: 0 0 0 auto;
      padding: 4px 12px 5px;
      border: 1px solid #f2f2f2;
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15%;
      color: #000;

      &::placeholder {
        color: #bdbdbd;
      }
    }

    &-button {
      position: absolute;
      top: 4px;
      right: 24px;
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;
      border: none;
      background: transparent;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__controls {
    display: flex;
    margin-right: 0;
    margin-left: auto;

    @include media-breakpoint-down("xl") {
      margin-left: 0;
    }

    @include media-breakpoint-down("xs") {
      display: none;
    }

    &-wrapper {
      @include make-col(5);
      @include make-col-ready();
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down("xl") {
        @include make-col(12);
      }
    }

    &-hamburger {
      display: none;

      @include media-breakpoint-down("xl") {
        display: flex;
      }
    }

    &-button {
      display: block;
      width: 40px;
      height: 30px;
      margin-right: 14px;
      background: transparent;
      border: 1px solid transparent;
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #000000;

      &.is-active {
        border-color: #f2f2f2;
        color: #164194;
      }

      &:first-child {
        margin-right: 36px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__logo {
    display: block;
    width: 90px;
    height: 128px;
    margin-right: 70px;

    @include media-breakpoint-down("xl") {
      margin-right: 30px;
    }

    @media screen and (max-width: 400px) {
      margin-right: 0;
    }

    &-wrapper {
      display: flex;
      align-items: center;

      @include media-breakpoint-down("xl") {
        margin-bottom: 16px;
      }

      @include media-breakpoint-down("md") {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-header {
      font-family: "Times New Roman";
      font-style: normal;
      font-weight: normal;
      font-size: 33px;
      line-height: 45px;
      color: #000;

      @include media-breakpoint-down("md") {
        font-size: 27px;
      }

      @include media-breakpoint-down("md") {
        margin-top: 16px;
        font-size: 21px;
      }

      span {
        color: #164194;
      }
    }
  }

  &__rank {
    display: block;
    width: 100px;
    height: 74px;
    margin-right: 20px;

    &-wrapper {
      display: flex;
      align-items: flex-end;

      @include media-breakpoint-down("md") {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-descr {
      margin-bottom: 0;
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      color: #000000;
    }
  }
}
