.header {
  &__top {
    padding: 11px 0 9px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  }

  &__bottom {
    padding: 12px 0 21px;
  }

  &__navbar {
    width: 100%;
  }

  &__nav {
    @include make-col(7);
    @include make-col-ready();
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;

    &-item {
      position: relative;
      padding-right: 20px;

      svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-link {
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      text-decoration: none;

      &.is-active,
      &:hover {
        text-decoration: underline;
        color: #164194;

        ~svg {
          path {
            stroke: #164194;
          }
        }
      }
    }

    &-dropdown {
      &__menu {
        position: absolute;
        top: 36px;
        left: 0;
        display: none;
        flex-direction: column;
        width: auto;
        background: #fff;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);


        &.is-active {
          display: flex;
        }

        &-link {
          display: block;
          width: 100%;
          min-width: 220px;
          padding: 10px 17px 11px;
          font-family: Tahoma;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 135%;
          color: #000;

          &:hover {
            text-decoration: none;
            color: #fff;
            background-color: #164194;
          }
        }
      }
    }
  }

  &-collapse {
    display: flex;
    align-items: center;
  }

  &__search {
    position: relative;
    @include make-col(3);
    @include make-col-ready();

    &-input {
      display: block;
      width: 100%;
      max-width: 285px;
      margin: 0 0 0 auto;
      padding: 4px 12px 5px;
      border: 1px solid #F2F2F2;
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 135%;
      color: #000;

      &::placeholder {
        color: #BDBDBD;
      }
    }

    &-button {
      position: absolute;
      top: 6px;
      right: 24px;
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;
      border: none;
      background: transparent;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__controls {
    display: flex;
    margin-right: 0;
    margin-left: auto;

    &-button {
      display: block;
      width: 40px;
      height: 30px;
      margin-right: 14px;
      background: transparent;
      border: 1px solid transparent;
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 135%;
      color: #000000;

      &.is-active {
        border-color: #F2F2F2;
        color: #164194;
      }

      &:first-child {
        margin-right: 36px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__logo {
    display: block;
    width: 90px;
    height: 128px;
    margin-right: 70px;

    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-header {
      font-family: Times New Roman;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 135%;
      color: #000;

      span {
        color: #164194;
      }
    }
  }

  &__rank {
    display: block;
    width: 100px;
    height: 74px;
    margin-right: 20px;

    &-wrapper {
      display: flex;
      align-items: flex-end;
    }

    &-descr {
      margin-bottom: 0;
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #000000;
    }
  }
}
