.table {
  &__wrapper {
    @include make-container();
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
  }

  &__item {
    @include make-row();
    padding-top: 14px;
    padding-bottom: 14px;

    &:nth-child(2n-1) {
      background: #f6f6f6;
    }

    &:hover {
      cursor: pointer !important;

      .table__item-name,
      .table__item-details {
        color: #164194;
      }
    }

    &-name {
      @include make-col(8);
      @include make-col-offset(1);
      @include make-col-ready();
      color: #000000;
      text-decoration: underline;

      @include media-breakpoint-down("md") {
        @include make-col(8);
        @include make-col-offset(0);
      }

      @include media-breakpoint-down("sm") {
        @include make-col(12);
      }
    }

    &-details {
      @include make-col(3);
      @include make-col-ready();
      color: #828282;
      text-decoration: underline;

      @include media-breakpoint-down("md") {
        @include make-col(4);
      }

      @include media-breakpoint-down("sm") {
        @include make-col(12);
        display: flex;
        margin-top: 16px;
      }

      img {
        position: absolute;
        top: 0;
        left: -8px;
        display: block;
        width: 20px;
        height: 20px;

        @include media-breakpoint-down("sm") {
          position: relative;
          left: 0;
        }
      }
    }
  }
}
